.title {
  font-size: 120px;
  text-align: center;
  font-family: monospace;
  background: #780096;
  color: white;
  margin: 15px 7px 0 7px;
  padding: 25px;
}
.title_margin-bottom {
  margin-bottom: 300px;
}

.login__button {
  background: black;
  color: white;
  cursor: pointer;
  height: 5%;
  font-size: 35px;
  text-align: center;
  width: 100%;
  border: none;
  padding: 14px;
}
.login__padding {
  padding: 30px;
}
.login__sign-up {
  text-align: center;
  font-size: 25px;
  margin: 35px;
}

.credit-form {
  padding: 30px;
}
.credit-form__label {
  font-size: 60px;
  font-weight: bold;
}
.credit-form__field {
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 100%;
  height: 5%;
  font-size: 30px;
  padding: 12px 20px;
  margin: 8px 0;
}
